<html>
<head>
<link rel="canonical" href="https://japanese-wiki-corpus.github.io/{{category}}/{{filename}}" />
<title>{{name}} ({{category}}) - lite</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<link rel="shortcut icon" type="image/x-icon" href="../logo.ico" />

<!-- Global site tag (gtag.js) - Google Analytics --> 
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-157500608-2'></script> 
<script> 
 window.dataLayer = window.dataLayer || []; 
 function gtag(){dataLayer.push(arguments);} 
 gtag('js', new Date()); 
 gtag('config', 'UA-157500608-2'); 
</script>

</head>
<body>
<p><a href="https://shinsengumi-archives.github.io/japanese-wiki-corpus/{{category}}.html">Back</a></p>

{{content}}
</body>
</html>
